.header img {
    float: left;
    width: 200px;
    height: 200px;
}

.header h1 {
    position: relative;
    height: 150px;
    line-height: 150px;
    font-size: 36;
}

.header {
    background-color: lightgray;
    height: 200px;

}

div.content {
    background-color: whitesmoke;
}

div.current {
    padding: 10px 10px 10px 10px;
}

div.past {
    padding: 5px 5px 5px 5px;
}

body {
    background-color: white;
}

.temp_humid_canvas {
    position: center;

}

.rain_canvas {
    position: center;

}

table,
td,
th {
    border: 1px solid darkgrey;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: 250;
    line-height: 26.4px;
}

th {
    background-color: #ddd;
    text-align: center;
}

td {
    font-weight: 250;
    padding: 15px;
    text-align: center;

}

h1 {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 33px;
    font-style: normal;
    font-variant: normal;
    font-weight: 550;
    line-height: 26.4px;
    text-align: center;
    padding: 20px 20px 20px 20px;

}


h2 {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 23px;
    font-style: normal;
    font-variant: normal;
    font-weight: 450;
    line-height: 26.4px;
}